<% provide(:title, "About") %>

<div class="center jumbotron">
  <h1>Welcome to GroceryList</h1>

  <h1>
    About
  </h1>
  <p>
    GroceryList is cloud-sourced shopping list. Users can create a homegroup, add items
    to the list, and can share the list with multiple users by sending them an invitation
    from your homegroup.
  </p>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>
