<%= form_for(@homegroup) do |f| %>
  <% if homegroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(homegroup.errors.count, "error") %> prohibited this homegroup from being saved:</h2>

      <ul>
      <% homegroup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
