<% provide(:title, "Homegroups") %>
<h1>Homegroups</h1>

<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Show</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homegroups.each do |homegroup| %>
      <tr>

        <td><%= homegroup.name %></td>
        <td><%= link_to 'Show', homegroup %></td>
        <td><%= link_to 'Edit', edit_homegroup_path(homegroup) %></td>
        <td><%= link_to 'Delete', homegroup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Homegroup', new_homegroup_path %>
