<% provide(:title, "#{@homegroup.name}") %>
<h1>Grocery List for Homegroup: <%= @homegroup.name %>
          </h1>
          <h2><%= link_to 'Edit Homegroup', edit_homegroup_path(@homegroup) %> |
            <%= link_to 'Add New Item', new_homegroup_item_path(@homegroup) %>
</h2>


<table>
  <thead>
    <tr>
      <th>Items</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homegroup.items.each do |item| %>
      <tr>
        <td><%= item.item_name %></td>
        <td><%= link_to 'Edit', edit_homegroup_item_path(item) %></td>
        <td><%= button_to 'Remove from List', homegroup_item_url(@homegroup, item), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_for @invite, :url => invites_path do |f| %>
    <%= f.hidden_field :homegroup_id, :value => @homegroup.id %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.submit 'Send' %>
<% end %>
