<% provide(:title, "Login") %>

<h1>Login</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render 'shared/error_messages' %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: 'form-control'  %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control'  %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span>Remember me on this computer</span>
            <% end %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Login", class: "btn btn-primary" %>
        </div>
        <%= render "users/shared/links" %>
      <% end %>
    </div>
</div>
