 form_for([@homegroup, item]) do |f|
<%= form_for(@item, :url => homegroup_items_path(@homegroup)) do |f|%>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_name %>
    <%= f.text_field :item_name %>
  </div>
<p>
  <%= group = Homegroup.find_by(id: @homegroup.id)%>
</p>




 f.hidden_field :homegroup, :value => Homegroup.find_by(id: @homegroup.id)

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
