<p id="notice"><%= notice %></p>

<h1>Grocery List for Homegroup: <%= @homegroup.name %></h1>
<%= link_to 'Edit Homegroup', edit_homegroup_path(@homegroup) %> |
<%= link_to 'Back', homegroups_path %>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>Items</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homegroup.items.each do |item| %>
      <tr>
        <td><%= item.item_name %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
Stuck right here... not sure how to get the parent id passed to the new action
<%= link_to 'Add new item to this group', new_homegroup_item_path(@homegroup) %>
